body {
    background-color: rgb(255, 255, 255);
}

header {
    padding: 20px 35px;
    background-image: url('../img/breakfast.jpg');
    background-position: 80%;
    background-attachment: fixed;
    background-size: cover;
    /* 2.2 - added flex and removed inline / float properties from h1 and nav */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

.bg-light {
    background-color: #ff9c4b8a!important;
    font-size: 1.5vw;
}

footer h2,
footer div {
    text-align: center;
    width: 100%;
}

.hero {
    background-image: url('../img/breakfast.jpg');
    background-position: 80%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.hero-cta {
    width: 30%;
    height: 50%;
    color: rgb(255, 255, 255);
    text-shadow: rgb(70, 144, 163);
    font-size: 18px;
    line-height: 1.3;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: rgb(98, 0, 255);
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form {
    border: 3px solid rgba(160, 145, 145, 0.719);
    background-color: rgba(202, 84, 76, 0.644);
    padding: 7px;
    width: 40%;
    margin: 1.5%;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ariPic {
    border: 3px solid rgba(160, 145, 145, 0.719);
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 400px;
}

@media screen and (max-width: 982px) {
    .screen {
        font-size: 20px;
    }
    .ariPic {
        height: 250px;
        margin-top: 50px;
    }
    .hero-form {
        width: 75%;
    }
}